.home-wrapper {
    display: flex;
    min-height: 500px;
background-image: url("https://img.freepik.com/free-photo/pizza-time-tasty-homemade-traditional-pizza-italian-recipe_144627-42528.jpg?size=626&ext=jpg&ga=GA1.1.114547254.1651298530");
}